@use './variables' as *;

// Текстовые миксины

// Миксины жирности шрифта
@mixin font-extralight {
    font-weight: 200; // Extra Light
}

@mixin font-light {
    font-weight: 300; // Light
}

@mixin font-regular {
    font-weight: 400; // Regular
}

@mixin font-medium {
    font-weight: 500; // Medium
}

@mixin font-semibold {
    font-weight: 600; // Semi Bold
}

@mixin font-bold {
    font-weight: 700; // Bold
}

@mixin font-extrabold {
    font-weight: 800; // Extra Bold
}

// Миксины размеров шрифта
@mixin size-xl {
    font-size: 60px;
    font-family: $font-stack;
}

@mixin size-lg {
    font-size: 40px;
    line-height: 48px;
    font-family: $font-stack;
}

@mixin size-md-lg {
    font-size: 34px;
    line-height: 41px;
    font-family: $font-stack;
}

@mixin size-md {
    font-size: 24px;
    line-height: 29px;
    font-family: $font-stack;
}

@mixin size-md-caps {
    font-size: 24px;
    line-height: 29px;
    font-family: $font-stack;
    text-transform: uppercase;
}

@mixin size-sm-lg {
    font-size: 20px;
    line-height: 24px;
    font-family: $font-stack;
}

@mixin size-sm {
    font-size: 16px;
    line-height: 24px;
    font-family: $font-stack;
}

@mixin size-xs-lg {
    font-size: 14px;
    line-height: 20px;
    font-family: $font-stack;
}

@mixin size-xs {
    font-size: 12px;
    line-height: 16px;
    font-family: $font-stack;
}

@mixin size-xxs {
    font-size: 10px;
    line-height: 14px;
    font-family: $font-stack;
}

@mixin size-tiny {
    font-size: 8px;
    line-height: 12px;
    font-family: $font-stack;
}

@mixin size-micro {
    font-size: 6px;
    line-height: 8px;
    font-family: $font-stack;
}

// Миксины для шрифта Bacasime Antique
@mixin size-md-lg-secondary {
    font-size: 34px;
    font-family: $font-stack-secondary;
}

// Container

@mixin container {
    max-width: $width-container;
    margin: 0 auto;

    // padding: 0 15px;
}
