.CourseDetailsItemTwo {
    width: 100%;
}

.button_container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.practice_section_container {
    margin-bottom: 10px;
}

.theory_section_container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.theory_section_container_item {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
