.text {
    color: $white;
}

.brown {
    .text {
        color: $brown;
    }
}

.brown_1 {
    .text {
        color: $brown_1;
    }
}

// sizes

.xl {
    @include size-xl;
}

.lg {
    @include size-lg;
}

.md-lg {
    @include size-md-lg;
}

.md {
    @include size-md;
}

.md-caps {
    @include size-md-caps;
}

.sm-lg {
    @include size-sm-lg;
}

.sm {
    @include size-sm;
}

.sm-bold {
    @include size-sm;
}

.xs-lg {
    @include size-xs-lg;
}

.xs {
    @include size-xs;
}

.xs-bold {
    @include size-xs;
}

.xxs {
    @include size-xxs;
}

.md-lg-secondary {
    @include size-md-lg-secondary;
}

// weights

.extralight {
    @include font-extralight;
}

.light {
    @include font-light;
}

.regular {
    @include font-regular;
}

.medium {
    @include font-medium;
}

.semibold {
    @include font-semibold;
}

.bold {
    @include font-bold;
}

.extrabold {
    @include font-extrabold;
}

// shadow

.shadow {
    text-shadow: 0px 2px 1px  $text-shadow-color;
}
