.List {
    list-style: none;
    width: 100%;
}

.primary,
.third {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.list_item_text {
    margin-left: 15px;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        background-color: $brown_1;
        border-radius: 50%;
        position: absolute;
        left: -9px;
        top: 6px;
    }
}

.secondary,
.fourth {
    display: flex;
    flex-direction: column;
    gap: 0px;
}
