.HeaderText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    @include size-sm;
    @include font-extrabold;
}

.subtitle {
    @include font-regular;
    @include size-xxs;

    max-width: 300px;
}

.secondary {
    .title {
        @include size-sm-lg;
        @include font-bold;

        line-height: 10px;
    }

    .subtitle {
        @include font-regular;

        line-height: 10px;

        @include size-xs-lg;

        max-width: 300px;
    }
}

.tertiary {
    .title {
        @include size-xs-lg;
        @include font-bold;
    }

    .subtitle {
        @include font-light;
        @include size-xxs;

        max-width: 300px;
    }
}
