.HeaderText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.title {
    @include size-sm;
    @include font-extrabold;
}

.subtitle {
    @include font-regular;
    @include size-xxs;
    max-width: 300px;
}
